.input{
      width: 80rem;
      padding: 1rem;
      border: none;
      border-radius: 1.2rem;
      outline: none;
      display: flex;
      background-color: white;
  & input{
      border: none;
      padding-left: 3rem;
  }
  & input:focus{
     outline: none;
  }
  
}